<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Flight Finder</a>
		</div>
	</div>
</nav>

<div class="container-fluid" id="container">
	<div class="search-panel col-1">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#search-form"><b>One Way</b></a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="search-form" class="tab-pane fade in active">
				<div class="ow-form">
					<!-- Reset Button -->
					<button
						class="resetBtn"
						mat-fab
						color="primary"
						aria-label="Example icon button with a delete icon"
						(click)="resetFilter()"
					>
						<mat-icon>settings_backup_restore</mat-icon>
					</button>
					<form novalidate autocomplete="off" (ngSubmit)="searchFlights()">
						<!-- Origin City -->
						<div class="form-group">
							<label for="originCity">Origin City</label>
							<select
								class="form-control"
								[(ngModel)]="filter.origin"
								id="originCity"
								name="originCity"
							>
								<option value="" [disabled]="true" selected>
									Enter Origin City
								</option>
								<option value="Israel">Israel</option>
								<option value="France">France</option>
								<option value="Germany">Germany</option>
								<option value="Russia">Russia</option>
								<option value="Sweden">Sweden</option>
							</select>
						</div>

						<!-- Destination City -->
						<div class="form-group">
							<label for="destCity">Destination City</label>
							<select
								class="form-control"
								[(ngModel)]="filter.destination"
								id="destCity"
								name="destCity"
							>
								<option value="" [disabled]="true" selected>
									Enter Destination City
								</option>
								<option value="Israel">Israel</option>
								<option value="France">France</option>
								<option value="Germany">Germany</option>
								<option value="Russia">Russia</option>
								<option value="Sweden">Sweden</option>
							</select>
						</div>

						<!-- From Date -->
						<div class="form-group">
							<mat-form-field class="example-container">
								<input
									matInput
									[matDatepicker]="picker1"
									id="fromDate"
									name="fromDate"
									placeholder="From Date"
									[(ngModel)]="filter.minDate"
									onkeydown="return false;"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="picker1"
								></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
							</mat-form-field>
						</div>

						<!-- To Date -->
						<div class="form-group">
							<mat-form-field class="example-container">
								<input
									matInput
									[matDatepicker]="picker2"
									id="toDate"
									name="toDate"
									placeholder="To Date"
									[(ngModel)]="filter.maxDate"
									onkeydown="return false;"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="picker2"
								></mat-datepicker-toggle>
								<mat-datepicker #picker2></mat-datepicker>
							</mat-form-field>
						</div>

						<!-- Connections count -->
						<div class="form-group">
							<label for="connectionsCount">Connections Count</label>
							<input
								type="number"
								class="form-control"
								id="connectionsCount"
								name="connectionsCount"
								placeholder="No. of connections"
								[(ngModel)]="filter.numOfConnections"
							/>
						</div>

						<!-- Submit button -->
						<div class="form-group">
							<input
								type="submit"
								class="form-control"
								class="btn btn-primary btn-block"
								value="Submit"
								[disabled]="!validateForm()"
							/>
						</div>

						<!-- Slider to select price range -->
						<div class="form-group" class="ow-slider">
							<h4>
								<u>Refine Flight Search</u>
							</h4>
							Price Range:
							<nouislider
								name="Pricerange"
								[connect]="true"
								[min]="0"
								[max]="10000"
								[step]="500"
								[(ngModel)]="filter.priceRange"
								(ngModelChange)="onChange($event)"
								[disabled]="!validateForm()"
							></nouislider>
							Price Range: {{ filter.priceRange[0] | currency: 'USD' }} to
							{{ filter.priceRange[1] | currency: 'USD' }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Displayed if the input parameters returned no results -->
	<div class="result-panel col-2">
		<div *ngIf="noResults(); else flightsAvailable" class="results">
			<h3 style="color: red; text-align: center">No results to display</h3>
		</div>

		<!-- Displayed when there are results matching the input -->
		<ng-template #flightsAvailable>
			<!-- Conditional display of table based on length of input array -->
			<div *ngIf="flightArr?.length > 0" class="results"></div>
			<!-- Child component to display results -->
			<app-flight-search-results
				[flightResults]="flightArr"
			></app-flight-search-results>
		</ng-template>
	</div>
</div>
