*,
*:before,
*:after {
	box-sizing: border-box;
}

.form-error {
	margin-top: 20px;
	font-size: 1.6rem;
	text-align: center;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-form {
	flex-basis: 80%;
}
.resetBtn {
	margin-top: 20px;
}
.resetBtn button {
	font-size: 16px;
	background-color: rgb(156, 189, 189);
	border: none;
	border-radius: 8px;
	outline: none;
}
.switch-btn {
	position: absolute;
	left: 38%;
	top: 1.8%;
	outline: none;
	border: none;
	max-height: 26px;
	border-radius: 8px;
	background-color: rgb(156, 189, 189);
}
.resetFilterBtn {
	position: absolute;
	top: 3%;
	right: 20%;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 3px;
	background-color: rgb(156, 189, 189);
	padding: 5px 10px;
}
.navbar-default {
	background-color: #281c38;
	border-color: #e7e7e7;
	color: whitesmoke;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	box-shadow: 5px 5px 5px black, inset 2px 2px 2px rgba(255, 255, 255, 0.4),
		inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.navbar-default .navbar-brand {
	color: #c38a00;
	font-size: 2em;
	font-family: 'Poppins', sans-serif;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
	color: #c38a00;
	cursor: default;
	background-color: #281c38;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.nav-tabs > li.active > a {
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
		inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	color: #e0dbdb;
	cursor: pointer;
	background-color: gray;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid #281c38;
	color: #281c38;
}

.nav-tabs > li > a {
	color: #281c38;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

[class*='col-'] {
	float: left;
	padding: 15px;
}

#container {
	height: 100%;
}

.col-1 {
	width: 35%;
	background-color: #dfdecf;
	position: relative;
}

.col-2 {
	width: 65%;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
}

.results {
	max-height: 70%;
	overflow-y: auto;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*='col-'] {
		width: 100%;
	}
}

.ow-form {
	position: relative;
	padding: 5%;
	border: 1px solid #281c38;
	border-top: 0;
	font-size: 0.9em;
}

.ow-slider {
	padding: 5%;
	border: 1px solid #281c38;
	margin-top: 2%;
}
